
    <html>
        <head>
            <style>
                table, tr, th, td { border: 1px solid black }
            </style>
        </head>
        <body>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Link</th>
                    <th>Review</th>
                </tr>
                {% for product in products %}
                    <tr>
                        <td>{{ product.getName() }}</td>
                        <td><a href="{{ path('pimcore_element', {'element': product}) }}">{{ path('pimcore_element', {'element': product}) }}</a></td>
                        <td>{{ product.getAverageReview() }}</td>
                    </tr>
                {% endfor %}
            </table>
        </body>
    </html>